body {
	font-family:'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}



nav {
	  position: sticky;
	  background-color: white;
	  top: 0px;
	  padding: 1px;
	  height: 9vh;
	  border-bottom: 2px solid lightgray;
	  border-top: 1px solid black;
}

ul {
	list-style: none;

}

.right-nav {
  align-items: flex-start;
	display: flex;
	justify-content: center;
	padding-left: 30%;
	margin-top: -30px ;
	font-weight: bold;
	font-size: 15px;
}

.nav {
	margin: 0 15px;
}

#logo {
	margin-top: 0px ;
	padding-left: 85px;
}



.tuitt-button {
	background-color: #c2195b;
	color: white;
	border-radius: 25px;
	border: none;
	margin-top: -10px;
	width: 9vw;
	padding: 12px;
	font-size: 15px;
	font-weight: bolder;
}

.tuitt-button:hover {
      Background-color: darkred ;
}

#bg-image {
  background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
  background-size: cover;
  background-position: center;
  height: 47vh;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	height: 47vh;
}

.container {
	text-align: right;
	display: inline-block;
	margin-top: 10px;
}

.title {
	color: white;
	font-family: Zilla Slab;
	font-size: 41px;
  padding-left: 50%;
  padding-right: 150px;
  text-align: right;
  margin-top: -1px;
}

.subtitle {
	color: whitesmoke;
	text-align: right;
	padding-left: 60%;
	padding-right: 150px;
	font-size: 21px;
	font-weight: lighter;
	margin-top: -4px;
}

.apply-button {
	background-color:#c2195b;
	color: white;
	border: none;
	border-radius: 25px;
	padding: 12px;
	width: 12vw;
	margin-right: 150px;
	font-size: 15px;
	font-weight: bolder;
}

.apply-button:hover {
      Background-color: darkred ;
}

.intro {
	text-align: center;	
	align-items: center;
	margin-bottom: 100px;
	margin-top: 20px;
}

.title-2 {
	font-size: 32px;
	font-family: Zilla Slab;

}

.intro-description {
	margin-top: 80px;
	padding-left: 215px;
	padding-right: 220px;
	text-align: left;
	font-size:16px;
	word-spacing: 1px;
	text-align: justify;
	text-justify: inter-word;
}

h2.title-2 {
	font-size: 32px;
	font-family: Zilla Slab;
	text-align: center;
	padding-top: 70px;
}

.pre-footer {
	text-align: center;
	background-color: #f7fbfb;
	height: 50vh;

}

.prefooter-description {
	margin-top: 50px;
	padding-left: 215px;
	padding-right: 220px;
	font-size:16px;
}

.book-button {
	background-color: #336589;
	border-radius: 25px;
	padding: 8px;
	color: white;
	border: none;
	width: 10vw;
	height: 5vh;
	font-weight: bolder;
	margin-top: -10px;
}

.book-button:hover {
      Background-color: #1F456E ;
}

footer {
	text-align: center;
	margin-top: 5px;
}
span + span {
    margin-left: 20px;
}









